{% extends 'core/base.html'%}
{% load widget_tweaks %}

{% block header %} {{ question.title }} {% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'main' %}">Main</a></li>
    <li class="breadcrumb-item"><a href="{% url 'question_list' %}">Questions</a></li>
    <li class="breadcrumb-item active">{{ question.title }}</li>
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="d-flex justify-content-between">
                <h6>{{ question.title }}</h6>
                {{ question.created }}
            </div>
            <hr>
            <p>{{ question.text }}</p>
            <small>
                <div class="d-flex justify-content-between">
                    <div class="btn-group btn-group-sm">
                        {% for category in categories %}
                            <a class="btn btn-info" href="{% url "category_detail" pk=category.pk %}"> {{ category.name }}</a>
                        {% endfor %}
                    </div>
                    <a href="{% url "user_detail" pk=question.author.id %}">{{ question.author }}</a>
                </div>
                {% if question.author == user %}
                    <a class="btn btn-primary btn-sm float-right" href="{% url "question_edit" pk=question.pk %}"> edit</a>
                {% endif %}
{#                <span id="likes-{{ question.id }}">{{ question.likes.count }}</span>#}
                {% if user.is_authenticated %}
                    <button class="btn btn-success ajaxlike" data-url="{% url "question_like" pk=question.id %}" data-questionid="{{ question.id }}">{{ question.likes.count }}</button>
                {% else %}
                    <a class="btn btn-success" href="{% url 'user_login' %}">{{ question.likes.count }}</a>
                {% endif %}
            </small>
        </li>
    </ul>
    <br>
{#    {% if user.is_authenticated %}#}
{#        <div class="row">#}
{#                <form action="" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ answer_form.text|add_class:"form-control" }}#}
{#                    <input type="submit" value="Send">#}
{#                </form>#}
{#        </div>#}
{#        <br>#}
{#    {% endif %}#}
    {% include "questions/answer_create.html" %}
    <h4>{{ answers.count }} answers</h4>
    <div class="col-8">
    <ul class="list-group">
        {% include "questions/question_answers.html" %}
    </ul>
    </div>


{% endblock %}