{% extends 'core/base.html'%}

{% block title %} {{ question.title }} {% endblock %}

{% block content %}
    Categories:
    {% for category in categories %}
        <a href="{% url "category_detail" pk=category.name|urlencode %}"> {{ category.name }}</a>
    {% endfor %}
    <br><br>
    <b>{{ question.text }}</b> <br><br>
    {% if question.author == user %}
        <a href="{% url "question_edit" pk=question.pk %}"> edit </a> <br>
    {% endif %}
    {{ answers.count }} answers <br> <br>
    {% for answer in answers %}
        {{ answer.text }}<br>
        answered:{{ answer.created }} <br>
        {{ answer.author }} <br><br>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <label>Your answer </label> <br>
        {{ form }}
        <input type="submit" value="Send">
    </form>

{% endblock %}