{% extends 'core/base.html'%}

{% block title %} Categories {% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        Add new:
        {{ category_form }}
        <input type="submit" value="Add">
    </form>
    <div>
        <form action="" method="get">
            {{ search_form }}
            <button>Go</button>
        </form>
    </div>
    {% for category in categories %}
        <a href="{% url "category_detail" pk=category.name|urlencode %}"> {{ category.name }}</a><br>
        questions:{{ category.questions.count }} <br><br>
    {% endfor %}
{% endblock %}