<h1>StekOwerflou</h1>
<a href="{% url "main" %}"> Main</a>
<a href="{% url "question_list" %}"> Questions</a>
<a href="{% url "category_list" %}"> Categories</a>
<a href="{% url "user_list" %}"> Users</a>
<a href="{% url "user_signup" %}"> Sign up</a>
{% if user.is_authenticated %}
    <a href="{% url "user_logout" %}"> Logout</a>
    {{ user.username }}
{% else %}
    <a href="{% url "user_login" %}"> Login</a>
{% endif %}

<hr size="5" color="gray">

<h2>{% block title %}{% endblock %}</h2>
<div>
    {% block content %}{% endblock %}
</div>
<hr size="5" color="gray">
<center><h5>Copyright @ mc^2+D=pussy</h5></center>